.weather {
  text-align: center;
  color: yellow;
 
}

.Weather-header {
  background-color: rgba(77, 201, 97, 0.616);
  min-height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(20px + 2vmin);
  color: white;
}

.Weather-link {
  color: #61dafb;
}

#weatherInput {
  padding: 8px 12px;
  border: none;
  border-radius: 15px;
  margin-right: 12px;
}

.weather button {
  padding: 8px;
  border-radius: 20px;
  border: none;
  color: red;
}
#results{
  display:none;
}